<form action="answer">
<img class="nyan-cat" src="https://raw.githubusercontent.com/gist/krushndayshmookh/3501d533d0e526268d91e7bdc3e2d4ce/raw/8957088c2e31dba6d72ce86c615cb3c7bb7f0b0c/nyan-cat.gif">
<h1>Stupid Coaching</h1>
<label class="form-label">Your question :</label>
  <div class="input-group">
    <input type="text" class="form-control" name="ask_coach">
    <input type="submit" value="Ask!" class = "btn btn-primary" >
  </div>
</form>
